*{
    padding: 0;
    margin: 0; /* removing padding */
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
  }
/* companents on all pages  - header, naviagtion*/
  .logo{
    text-align: center;
  }
/* resizing the logo */
  .resize {
    width: 350px;
  height: autopx;
} 
.resize_image {
  width: 350px;
  height: autopx;
  } 

  .resize_video {
  width: 450px;
  height: autopx;
    } 

  nav ul { 
    text-align: right;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    height: 64px;
    background-color: #C3EFF5;
  }

nav ul li{
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
}

nav ul li a{
  text-decoration: none;
  color: #000000;
}

/* index.html css*/

  /* Solid border */
hr.solid {
  border-top: 3px solid #96B5EF;
  width: 100%;
} 

button {
  width: 238px;
  height: 42px;
  border: none;
  background: rgba(169, 212, 181, 0.29);
  border-radius: 20px;
}

h1 {
  padding: 10px 300px 20px;
  font-size: 25px;
}

/* grid css for index page */
.content1 {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-gap: 3 rem;
  grid-auto-rows: minmax(100px, auto);
  /* padding-left: 200px;
  padding-right: 200px; */
}

/* for typing aniamtion using Javascript*/
 #intro {
    font-family: 'Montserrat', sans-serif;
    color: rgb(73, 144, 202);
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px; 
  font-size: 35px;
}

/*dividers*/
.divider1{
  grid-column: 1/4;
  grid-row: 2;
  padding-left: 0px;
  padding-right: 0px;
}
.divider2{
  grid-column: 1/4;
  grid-row: 3;
  padding-left: 0px;
  padding-right: 0px;
}

 /* first grid element take sup more than one row */
.one {
  grid-column: 1;
  grid-row: 1/2;
  padding: 5em;
  text-align: center;
  padding-bottom: 50px;
}

.two {
    grid-column: 2/3;
    grid-row: 1;
    padding: 90px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding-bottom: 50px;
}
.three{
  grid-column: 1;
  grid-row: 2;
  padding: 90px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  padding-top: 50px;
}

.four{
  grid-column: 2;
  grid-row: 2;
  padding: 90px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  padding-top: 50px;
}

.five{
  grid-column: 1;
  grid-row: 3;
  padding: 90px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #C3EFF5;
  width: 450px;
  border-radius: 20px;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.five p{
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  height: 250px;
}

.six p{
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  height: 250px;
}

.six{
  grid-column: 2;
  grid-row: 3;
  padding: 90px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #C3EFF5;
  width: 450px;
  border-radius: 20px;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.seven{
  grid-column: 1/2;
  grid-row: 5;
  padding: 90px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  padding: 10px 40px 20px;
  background-color: #C3EFF5;
  width: 492px;
  height: 200px;
  border-radius: 20px;
}

/*About.html css*/
.content2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-gap: 3 rem;
  grid-auto-rows: minmax(100px, auto);
  /* padding-left: 200px;
  padding-right: 200px; */
}
 /* grid on about us page */
.intro {
  grid-column: 1;
    grid-row: 1;
    padding: 90px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding-bottom: 50px;
}

.about_image {
  grid-column: 2;
  grid-row: 1;
  padding: 5em;
  text-align: center;
  padding-bottom: 50px;
}

.weeklyoverview {
  grid-column: 1/3;
  grid-row: 2;
  padding: 90px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  padding-bottom: 50px;
}

/* portfolio css used for nile and amended to made to match the website */
.container {
  background-color: #C3EFF5;
}
.weeklysteps  {
  max-width: 100%;
  border-radius: 20px;
  transition: all .3s;
  overflow: hidden;
  position: relative;
}

.weeks {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: minmax(150px, auto);
}


/* contact.html css*/

.content3{
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-gap: 3 rem;
  grid-auto-rows: minmax(100px, auto);
  padding-top: 10px;
}

/* most of CSS used for the form is taken from https://codepen.io/ssbalakumar/pen/uzDIA
  this is only used as a guide for how to style and then changes have been made to fit my portfolio site */
  .form {
    /* sets the width for the form to be */
    max-width:400px;
    margin:0 auto;
    position:relative;
    font-family: 'Poppins', sans-serif;
    grid-column: 1;
    grid-row: 1;
  }

  #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }
  
  #contact {
    /* background and shape of the form */
    padding:30px;
    margin:50px 0;
    border-radius: 20px;
    background-color:#C3EFF5;
  }
  
  fieldset {
    /* removes the border around each field */
    border: medium none !important;
    margin: 0 0 20px;
    min-width: 100%;
    width: 100%;
    padding-top: 10px;
    padding-right: 15px;
    text-align: center;
    
  }
  
  #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  /* makes changes to the size of the input area for each */
    width:300px;
    border:2px solid rgba(169, 212, 181, 0.29);;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius: 20px;
  }
  
  #contact textarea {
    /* changes the size of the text area to write a comment */
    height:90px;
    max-width:300px;
    border-radius: 20px;
  }
  
  #contact button[type="submit"] {
    cursor:pointer;
    /*adding a border radius to match the exsisting style on the site*/
    border-radius: 20px;
    width:100%;
    border:none;
    columns: #000000;;
    margin:0 0 5px;
    padding:10px;
    font-size:20px;
    width: 238px;
    height: 42px;
    background: rgba(169, 212, 181, 0.29);
  }
  
  #contact button[type="submit"]:hover {
    background:rgb(125, 180, 180);
    /* lighter grey for the hover */
  }

  .contactimage{
    grid-row: 1;
    padding: 5em;
    text-align: center;
    padding-bottom: 50px;
  }

  .contactdetails{
  border: 3px solid rgb(125, 180, 180);
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  padding-top: 10px;
  }

  .socialMedia{
    grid-column: 1;
    grid-row: 2;
    padding: 5em;
    text-align: center;
    padding-bottom: 50px;
  }

  .newsletter{
  grid-column: 2;
  grid-row: 3;
  padding: 10%;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #C3EFF5;
  width: 450px;
  border-radius: 20px;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 15px;
  }
/* login css */
.content4{
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-gap: 3 rem;
  grid-auto-rows: minmax(100px, auto);
  padding-top: 10px;
}

/* most of CSS used for the form is taken from https://codepen.io/ssbalakumar/pen/uzDIA
  this is only used as a guide for how to style and then changes have been made to fit my portfolio site */
  .signup {
    /* sets the width for the form to be */
    max-width:400px;
    margin:0 auto;
    position:relative;
    font-family: 'Poppins', sans-serif;
    grid-column: 1;
    grid-row: 1;
  }

  #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }
  
  #contact {
    /* background and shape of the form */
    padding:30px;
    margin:50px 0;
    border-radius: 20px;
    background-color:#C3EFF5;
  }
  
  fieldset {
    /* removes the border around each field */
    border: medium none !important;
    margin: 0 0 20px;
    min-width: 100%;
    width: 100%;
    padding-top: 10px;
    padding-right: 15px;
    text-align: center;
    
  }
  
  #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  /* makes changes to the size of the input area for each */
    width:300px;
    border:2px solid rgba(169, 212, 181, 0.29);;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius: 20px;
  }
  
  #contact textarea {
    /* changes the size of the text area to write a comment */
    height:90px;
    max-width:300px;
    border-radius: 20px;
  }
  
  #contact button[type="submit"] {
    cursor:pointer;
    /*adding a border radius to match the exsisting style on the site*/
    border-radius: 20px;
    width:100%;
    border:none;
    columns: #000000;;
    margin:0 0 5px;
    padding:10px;
    font-size:20px;
    width: 238px;
    height: 42px;
    background: rgba(169, 212, 181, 0.29);
  }
  
  #contact button[type="submit"]:hover {
    background:rgb(125, 180, 180);
    /* lighter grey for the hover */
  }

  /* most of CSS used for the form is taken from https://codepen.io/ssbalakumar/pen/uzDIA
  this is only used as a guide for how to style and then changes have been made to fit my portfolio site */
  .login {
    /* sets the width for the form to be */
    max-width:400px;
    margin:0 auto;
    position:relative;
    font-family: 'Poppins', sans-serif;
    grid-column: 2;
    grid-row: 1;
  }

  #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }
  
  #contact {
    /* background and shape of the form */
    padding:30px;
    margin:50px 0;
    border-radius: 20px;
    background-color:#C3EFF5;
  }
  
  fieldset {
    /* removes the border around each field */
    border: medium none !important;
    margin: 0 0 20px;
    min-width: 100%;
    width: 100%;
    padding-top: 10px;
    padding-right: 15px;
    text-align: center;
    
  }
  
  #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  /* makes changes to the size of the input area for each */
    width:300px;
    border:2px solid rgba(169, 212, 181, 0.29);;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius: 20px;
  }
  
  #contact textarea {
    /* changes the size of the text area to write a comment */
    height:90px;
    max-width:300px;
    border-radius: 20px;
  }
  
  #contact button[type="submit"] {
    cursor:pointer;
    /*adding a border radius to match the exsisting style on the site*/
    border-radius: 20px;
    width:100%;
    border:none;
    columns: #000000;;
    margin:0 0 5px;
    padding:10px;
    font-size:20px;
    width: 238px;
    height: 42px;
    background: rgba(169, 212, 181, 0.29);
  }
  
  #contact button[type="submit"]:hover {
    background:rgb(125, 180, 180);
    /* lighter grey for the hover */
  }
  .footer {
    text-align: center;
  }