*{
    padding: 0;
    margin: 0; /* removing padding */
    box-sizing:border-box;
    
  }

  .logo{
    display: flex;
    width: 100%; 
  }
/* resizing the logo */
  .resize {
    width: 400px;
    height: auto;
}
  nav { 
    display: flex;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: #C3EFF5;
  }

  /* css found by watching video it was then amended to suit my website - https://www.youtube.com/watch?v=gXkqy0b4M5g */
  .nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%; 
  }

  .nav-links li{
    list-style: none; /* removing bullet points*/
  }

  .nav-links a{
    color: #000000;
    text-decoration: none;
    letter-spacing: 3px; 
    font-size: 20px;
  }