*{
    padding: 0;
    margin: 0; /* removing padding */
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
  }
/* companents on all pages  - header, naviagtion*/
  .logo{
    text-align: center;
  }
/* resizing the logo */
  .resize {
    width: 350px;
  height: autopx;
} 
.resize_image {
  width: 400px;
  height: 300px;
  } 

  .resize_image2 {
    width: 400px;
    height: autopx;
    } 

  .resize_video {
  width: 450px;
  height: autopx;
    } 

  h1{
    margin-top: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
  }

  h2{
    font-weight: 300;
  }

  nav ul { 
    text-align: right;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    height: 64px;
    background-color: #C3EFF5;
  }

nav ul li{
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 400;
}

nav ul li a{
  text-decoration: none;
  color: #000000;
}

/* index.html css*/

  /* Solid border */
hr.solid {
  border-top: 3px solid #96B5EF;
  width: 100%;
} 

hr.footer_divide {
  border-top: 10px solid #C3EFF5;
  width: 100%;
} 

button {
  width: 238px;
  height: 42px;
  border: none;
  background: rgba(169, 212, 181, 0.29);
  border-radius: 20px;
  font-size: 20px;
}


/* grid css for index page */
.content1 {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-gap: 3 rem;
  grid-auto-rows: minmax(100px, auto);
  /* padding-left: 200px;
  padding-right: 200px; */
}

/*dividers*/
.divider1{
  grid-column: 1/4;
  grid-row: 2;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  height: 5px;
}
.divider2{
  grid-column: 1/4;
  grid-row: 3;
  padding-left: 0px;
  padding-right: 0px;
  height: 5px;
}


 /* first grid element take sup more than one row */
.one {
  grid-column: 1;
  grid-row: 1/2;
  padding-top: 75px;
  padding-left: 150px;
  text-align: center;
  padding-bottom: 50px;
}

.two {
  grid-column: 2/3;
  grid-row: 1;
  text-align: left;
  padding-bottom: 50px;
  padding-top: 75px;
  padding-right: 150px;
}
.three{
  grid-column: 1;
  grid-row: 2;
  text-align: left;
  padding-top: 75px;
  padding-left: 150px;
  padding-bottom: 20px;
}

.four{
  grid-column: 2;
  grid-row: 2;
  text-align: left;
  padding-top: 75px;
  padding-left: 150px;
  padding-bottom: 20px;
}

.five{
  grid-column: 1;
  grid-row: 3;
  text-align: center;
  width: 450px;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #CCF4F6;
  margin-left: 320px;
  margin-right: 50px;
  margin-top: 20px;
}

.six{
  grid-column: 2;
  grid-row: 3;
  text-align: center;
  width: 450px;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #CCF4F6;
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 20px;
}

.five p{
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  margin: 10px;
}
.six p{
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  margin:10px;
}

.seven{
  grid-column: 1/3;
  grid-row: 4;
  padding: 90px;
  text-align: left;
  padding: 10px 40px 20px;
  background-color: #CCF4F6;
  width: 492px;
  height: 200px;
  border-radius: 20px;
  margin-left: 450px;
  margin-top: 20px;
}


/*About.html css*/
.content2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-gap: 3 rem;
  grid-auto-rows: minmax(100px, auto);
  /* padding-left: 200px;
  padding-right: 200px; */
}
 /* grid on about us page */
.intro {
  grid-column: 1;
  grid-row: 1;
  margin-top: 75px;
  margin-left: 150px;
  text-align: left;
  padding-bottom: 50px;
}

.about_image {
  grid-column: 2;
  grid-row: 1;
  padding-top: 75px;
  padding-right: 150px;
  text-align: center;
  margin: 10px;
}

.weeklyoverview {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-gap: 5 rem;
  grid-auto-rows: minmax(100px, 100);
  background-color: #CCF4F6;
  margin: 10px;
  padding: 40px;
}

.overview{
  margin-bottom: 30px;
  margin-left: 150px;
  margin-right: 150px;
}

.week1, .week2, .week3, .week4, .week5, .week6 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #fff;
  border-radius: 20px;
  height: 250px;
}
.week1, .week2, .week3, .week4, .week5, .week6 h2 {
  padding-bottom: 15px;
  text-align: center;
}
.week1, .week2, .week3, .week4, .week5, .week6 p {
  padding: 40px;
  text-align: left;
}

.week1{
  grid-column: 1;
  grid-row: 1;
}

.week2{
  grid-column: 2;
  grid-row: 1;
}

.week3{
  grid-column: 1;
  grid-row: 2;
}

.week4{
  grid-column: 2;
  grid-row: 2;
}

.week5{
  grid-column: 1;
  grid-row: 3;
}

.week6{
  grid-column: 2;
  grid-row: 3;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-gap: 5 rem;
  grid-auto-rows: minmax(100px, 100);
  margin: 10px;
  padding: 40px;
}

.newsletterform_about{
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  background-color: #CCF4F6;
  width: 450px;
  border-radius: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-left: 320px;
  margin-right: 50px;
  margin-top: 20px;
}

.newsletterform {
  grid-column: 1/4;
  grid-row: 5;
  max-width:400px;
  margin:0 auto;
  background-color: #CCF4F6;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
}

#newsletter input[type="email"] , #newsletter button[type="submit"] 

#newsletter {
  padding:30px;
  margin:50px 0;
  border-radius: 20px;
  background-color:#CCF4F6;
}

fieldset {
  /* removes the border around each field */
  border: medium none !important;
  margin: 0 0 20px;
  min-width: 100%;
  width: 100%;
  padding-top: 10px;
  padding-right: 15px;
  text-align: center;
}

#newsletter input[type="email"] {
/* makes changes to the size of the input area for each */
  width:300px;
  border:2px solid rgba(169, 212, 181, 0.29);;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
}

#newsletter button[type="submit"] {
  cursor:pointer;
  text-align: center;
  border-radius: 20px;
  width:100%;
  border:none;
  columns: #000000;
  padding:10px;
  font-size:20px;
  width: 238px;
  height: 42px;
  background: rgba(169, 212, 181, 0.29);
}

#newsletter button[type="submit"]:hover {
  background:rgb(125, 180, 180);
}

.testimonial{
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  width: 450px;
  border-radius: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #CCF4F6;
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 20px;
}

.testimonial p{
  background-color: #fff;
  border-radius: 20px;
  padding: 15px;
  margin:10px;
}

/* contact.html css*/

.content3{
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-gap: 3 rem;
  grid-auto-rows: minmax(100px, 140);
  padding-top: 10px;
}

/* most of CSS used for the form is taken from https://codepen.io/ssbalakumar/pen/uzDIA
  this is only used as a guide for how to style and then changes have been made to fit my portfolio site */
  .form {
  max-width:400px;
  margin:0 auto;
  position:relative;
  grid-column: 1;
  grid-row: 1;
  }

  .form label{
    margin: 25px;
  }

  #contact input[type="text"], #contact input[type="email"] #contact textarea, #contact button[type="submit"] 
  
  #contact {
    padding:30px;
    margin:50px 0;
    border-radius: 20px;
    background-color:#CCF4F6;
  }
  
  fieldset {
    border: medium none !important;
    margin: 0 0 20px;
    min-width: 100%;
    width: 100%;
    padding-top: 10px;
    padding-right: 15px;
    text-align: center;
    
  }
  
  #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  /* makes changes to the size of the input area for each */
    width:300px;
    border:2px solid rgba(169, 212, 181, 0.29);;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius: 20px;
  }
  
  #contact textarea {
    /* changes the size of the text area to write a comment */
    height:90px;
    max-width:300px;
    border-radius: 20px;
  }
  
  #contact button[type="submit"] {
    cursor:pointer;
    /*adding a border radius to match the exsisting style on the site*/
    border-radius: 20px;
    width:100%;
    border:none;
    columns: #000000;;
    margin:0 0 5px;
    padding:10px;
    font-size:20px;
    width: 238px;
    height: 42px;
    background: rgba(169, 212, 181, 0.29);
  }
  
  #contact button[type="submit"]:hover {
    background:rgb(125, 180, 180);
    /* lighter grey for the hover */
  }

  .contactdetails{
    grid-row: 1;
    padding: 5em;
    text-align: center;
    padding-bottom: 50px;
    margin-right: 150px;
  }

  .contactdetails p{
  grid-column: 2;
  grid-row: 2;
  border: 3px solid rgb(125, 180, 180);
  width: 100%;
  border-radius: 20px;
  padding: 25px;
  margin: 10px;
  margin-top: 30px;
  }

  .socialMedia{
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    padding-bottom: 50px;
  }

  .socialMedia ul { 
    text-align: center;
    padding-right: 20px;
    height: 64px;
    background-color: #FFF;
  }

  .resize_social_icons{
    widows: 50px;
    height: 50px;
  }

  .newsletter_contact{
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  background-color: #CCF4F6;
  width: 450px;
  border-radius: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-left: 140px;
}

/* login css */
.content4 {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-gap: 3 rem;
  grid-auto-rows: minmax(100px, auto);
}

.signin_info {
  grid-column: 1/3;
  grid-row: 1;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 0px;
}
/* most of CSS used for the form is taken from https://codepen.io/ssbalakumar/pen/uzDIA
  this is only used as a guide for how to style and then changes have been made to fit my portfolio site */
  .signup {
    /* sets the width for the form to be */
    max-width:400px;
    margin:0 auto;
    position:relative;
    grid-column: 1;
    grid-row: 2;
  }

  #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }
  
  #contact {
    /* background and shape of the form */
    padding:30px;
    margin:50px 0;
    border-radius: 20px;
    background-color:#CCF4F6;
  }
  
  fieldset {
    /* removes the border around each field */
    border: medium none !important;
    margin: 0 0 20px;
    min-width: 100%;
    width: 100%;
    padding-top: 10px;
    padding-right: 15px;
    text-align: center;
    
  }
  
  #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  /* makes changes to the size of the input area for each */
    width:300px;
    border:2px solid rgba(169, 212, 181, 0.29);;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius: 20px;
  }
  
  
  #contact button[type="submit"] {
    cursor:pointer;
    /*adding a border radius to match the exsisting style on the site*/
    border-radius: 20px;
    width:100%;
    border:none;
    columns: #000000;;
    margin:0 0 5px;
    padding:10px;
    font-size:20px;
    width: 238px;
    height: 42px;
    background: rgba(169, 212, 181, 0.29);
  }
  
  #contact button[type="submit"]:hover {
    background:rgb(125, 180, 180);
    /* lighter grey for the hover */
  }

  /* most of CSS used for the form is taken from https://codepen.io/ssbalakumar/pen/uzDIA
  this is only used as a guide for how to style and then changes have been made to fit my portfolio site */
  .login {
    /* sets the width for the form to be */
    max-width:400px;
    margin:0 auto;
    position:relative;
    grid-column: 2;
    grid-row: 2;
    margin-left: 150px;
  }

  #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }
  
  #contact {
    padding:30px;
    margin:50px 0;
    border-radius: 20px;
    background-color:#CCF4F6;
  }
  
  fieldset {
    /* removes the border around each field */
    border: medium none !important;
    margin: 0 0 20px;
    min-width: 100%;
    width: 100%;
    padding-top: 10px;
    padding-right: 15px;
    text-align: center;
  }
  
  #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  /* makes changes to the size of the input area for each */
    width:300px;
    border:2px solid rgba(169, 212, 181, 0.29);;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius: 20px;
  }
  
  
  #contact button[type="submit"] {
    cursor:pointer;
    /*adding a border radius to match the exsisting style on the site*/
    border-radius: 20px;
    width:100%;
    border:none;
    columns: #000000;;
    margin:0 0 5px;
    padding:10px;
    font-size:20px;
    width: 238px;
    height: 42px;
    background: rgba(169, 212, 181, 0.29);
  }
  
  #contact button[type="submit"]:hover {
    background:rgb(125, 180, 180);
  }

/* personal tracker css*/
.dashboard {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 3 rem;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 20px;
  margin-bottom: 50px;
  background-color: #C3EFF5;
}

.dashboard_menu{
  grid-column: 1;
  grid-row: 1/3;
  background-color: #FFF;
  font-size: 13px;
  margin: 30px;
}
.dashboard_menu ul { 
  text-align: left;
  background-color: #FFF;
  padding: 20px;
}

.dashboard_menu ul li{
text-decoration: none;
display: block;
font-weight: 400;
font-size: 13px;
}

.dashboard_menu ul li a{
text-decoration: none;
color: #000000;

}

.dashboard_intro{
  grid-column: 2 span;
  grid-row: 1 ;
  background-color: #FFF;
  border-radius: 20px;
  font-size: 13px;
  margin: 30px;
  padding: 20px;
}
.graphs {
  grid-column: 1 span;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-gap: 3 rem;
  grid-auto-rows: minmax(100px, auto);
}
.graph1{
  grid-column: 1;
  grid-row: 1;
}
.graph2{
  grid-column: 2;
  grid-row: 1;
}
.graph3{
  grid-column: 1;
  grid-row: 2;
}
.graph4{
  grid-column: 2;
  grid-row: 2;
}

.editbutton{
  grid-column: 3;
  grid-row: 4;
}
/*footer css*/
.footer_divider{
  grid-column: 1/4;
  grid-row: 6;
  padding-left: 0px;
  padding-right: 0px;
  height: 5px;
  margin-top: 40px;
  }


footer p {
  display: flex;
  justify-content: center;
  color: #000000;
  font-size: 20px;
}

footer ul { 
  text-align: center;
  padding-right: 20px;
  font-family: 'Poppins', sans-serif;
  height: 64px;
  background-color: #FFF;
}

footer ul li{
text-decoration: none;
display: inline-block;
padding: 20px;
font-size: 20px;
font-weight: 400;
}

footer ul li a{
text-decoration: none;
color: #000000;
}