*{
    margin: 10;
}
/*exercsie 1*/
.part1 h2 {
    color: red;
}

.part1 p {
    color: white;
    background-color: black;
    display: inline;
}

.part2 h2 {
    color: green;
}

.part2 p {
    color: lightgreen;
    background-color: darkgreen;
    display: inline;
}
.part3 div,
.part3 p {
    color: green;
}
.part4 > p {
    color: green;
}

/*exercise2*/

.csym019{
    background-color: lightblue;
    float: left;
    width: 49%;
    border-radius: 5%;
    padding: 0.5px;
}

.csym015{
    background-color: lightcoral;
    float: right;
    width: 49%;
    border-radius: 5%;
    padding: 0.5px;
}

.csym019 h1 {
color: darkblue;
}

.csym015 h1 {
    color:lightgoldenrodyellow;
    }
    .csym016{
        background-color: lightblue;
        float: left;
        width: 49%;
        border-radius: 5%;
        padding: 0.5px;
    }
    
    .csym017{
        background-color: lightcoral;
        float: right;
        width: 49%;
        border-radius: 5%;
        padding: 0.5px;
    }